
.reviews-comments {
display: flex;
flex-direction: column;
gap: 5rem;
}
.comment {
    display: flex;
    flex-direction:column;
    gap: 10px;
    font-size: 1.5rem;
    width: 100%;
    &_part {
        display: flex;
        flex-direction:row;
        gap: 10px;
        text-align: start;
        align-items: center;
    }
    &_header {
        
    }

    &_rating {
        font-weight: bold;
        &__stars {
            color: orange;
            font-size: 1.7rem;
        }
    }
    &_date, &_helpfulNumber{
        color: rgb(85, 85, 85);
    }
    &_btns{
        align-items: center;
        &__helpful{
            box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
            background: #fff;
            border: 1px solid #d5d9d9;
            border-radius: 1rem;
            cursor: pointer;
            display: inline-block;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none !important;
            vertical-align: middle;
        }

        &__report {
            display: flex;
            align-items: center;
            border-left: 1px solid gray;
            padding-left: 10px;
        }
    }
}

@media (min-width: 768px) {
    .comment {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .comment {
        width:60%;
    }
}